.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  text-align: center;
}

.footer {
  margin: 24px;
}

.footer-my-info {
  margin-top: 24px;
}

/* Create User - Starts */

.create-user {
  background-color: var(--background);
  padding: 24px;
  margin: 24px auto;
  width: max-content;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.create-user-input,
.create-user-button {
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

.create-user-button {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.create-user-button:hover {
  background-color: var(--primary-hover);
}

/* Create User - Ends */

/* Users - starts */
.users {
  max-width: 1280px;
  min-width: 300px;
  margin: 24px auto;
  padding: 32px;
  background: var(--background);
  border-radius: 8px;
  flex: 1;
}

.user {
  margin: 32px;
  padding: 32px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.user-info {
  text-align: center;
  display: inline-block;
  min-width: 200px;
  /* display: flex;  */
}

.user-info h3 {
  margin-top: 8px;
}

.editor {
  flex: 1;
}
/* Users - ends */

/* Media Queries */

@media only screen and (max-width: 700px) {
  .create-user {
    padding: 8px;
    margin: 8px auto;
    border-radius: 4px;
    gap: 8px;
  }

  .users {
    padding: 8px 4px;
    margin: 8px;
  }

  .user {
    margin: 8px 4px;
    padding: 8px 4px;
    flex-direction: column;
  }

  .user-info {
    display: flex;
    gap: 8px;
    margin: 8px 0;
    min-width: auto;
  }

  .user-info h3 {
    font-size: 1.25em;
    margin-top: 0;
  }

  .user-info svg {
    height: 24px;
    width: 24px;
  }
}
